<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
    <div class="fab fa-untappd"></div>
    <b>BuddyTracker</b>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

         


        <%= link_to home_about_path, class: "nav-link" do %>
          <div class="far fa-address-card"></div>
          <b>About us</b>
        <% end %>

       
        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to new_friend_path, class: 'nav-link' do %>
            <div class="fas fa-user-friends"></div>
            <b>Add Friend</b>
           <% end %>
          </li>
               

          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: 'nav-link' do %>
            <div class="fas fa-user"></div>
            <b>Edit Profile</b>
           <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <div class="fa fa-sign-out-alt"></div>
            <b>Sign Out</b>
            <% end %>
          </li>

        <% else %>

          <li class="nav-item">
            
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <div class="fa fa-sign-in-alt"></div>
              <b>Sign In</b>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <div class="fas fa-user-plus"></div>
            <b>Sign Up</b>
            <% end %>
          </li>

          
        <% end %>

      </ul>
    </div>
  </div>
</nav>